/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.dateListing {
    font-style: normal;

}

.NewsItem {
    font-style: normal;

}


.article-header {
    float: left;
    /*width:100%;*/

}

.ms-rteFontSize-2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.succMsg span {
    float: right;
    padding: 17px;
    width: 294px;
    margin-left: 17px;
    text-align: right;
    font-size: 13px;
    background-image: url("../img/ok.png");
    background-repeat: no-repeat;
    border: 1px dashed #62BA45;
    background-size: 13%;
    background-position: 6% 50%;
    border-radius: 10px;
    color: #62BA45;
}

.menu-horizontal > ul > li > ul > li.static {
    position: relative;
}

.menu-horizontal > ul > li > ul > li.static:hover {
    background: #fff;
    border: 1px solid #D9D9D9;
    border-bottom: 0;
}

.print-btn {
    display: none;
}

.print-btn2 {
    background-image: url("../img/printer.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 85%;
}

a.submit-btn.print-btn2 {
    cursor: pointer;
    width: 21px;
    color: #086BBC;
    height: 16px;
    margin-top: 4px;
    /* margin-left: 3px; */
    /* margin-right: -1px; */
    padding-right: 8px;
}

.SiteMap .menu-horizontal > ul > li > ul > li.static:hover {
    border: none;
}

.SiteMap .menu-horizontal li.static {
    border: none;

}

.HeaderContainer {
    max-width: 1000px;
    height: auto;

    margin: 0 auto;
    min-height: 73px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;

}

.welcome-content a:link {
    font-style: italic;
    font-size: 13px;
    color: #646464;
    text-decoration: underline;

}

.ms-WPBody a:link {
    font-style: italic;
    font-size: 13px;
    color: #646464;
    text-decoration: underline;
}

.ms-WPBody a:visited {
    font-style: italic;
    font-size: 13px;
    color: #646464;
    text-decoration: underline;
}


.welcome-content a:visited {
    font-size: 13px;
    color: #646464;
    text-decoration: underline;

}

.SectionHead > a {
    color: #03508F;
}

.ms-sbrow {
    margin-top: 12px;
    float: left;

}

.ms-rteFontSize-2 {
    text-align: left;

    font-size: 13px;
}


a:visited {
    color: #0072BC;
}

.required {
}

.jobs-form .TextCaptcha {
    width: 102%;
}

.jobs-form input[type=file] {
    width: 102%;
}

.ms-sbplain {
    margin-left: 12px;;
    padding: 14px;
}

.event-view-position-date {
    float: right;
    width: 23%;
    margin-bottom: 10px;
}

.event-view-position-date > div > span:last-child {
    color: #676767;
}

.event-view-description {
    float: left;
    width: 100%;
    padding: 8px;
    border: 1px solid #DDD;
    border-radius: 13px;
    line-height: 1.5;
    text-align: justify;
}

.event-view-position-date > div > span:first-child {
    font-weight: bold;
    float: left;
    /* width: 19px; */
    width: 67px;
}

.event-view-position-date > div {
    float: right;
    color: #01A447;
}


span.glyphicon.Menu-Icon.glyphicon-tasks {
    display: none;
}

.SectionHead {
    background-image: url("../img/iconListing.png");
    background-position: left center;
    background-repeat: no-repeat;
    font-size: 15px;
    color: #03508F;
    font-weight: bold;
    background-size: 22px 22px;
    padding-left: 25px;
}

ul.salicListing {
    border-left: 1px solid #C8C8C8;
    margin-left: 11px;
}

ul.salicListing li {
    border-bottom: 1px solid #C8C8C8;
    padding-left: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.FormSection legend {
    float: left;
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: inherit;
    color: #545353;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    font-weight: bold;
}

body {
    background-image: url("https://www.salic.com/Style%20Library/Salic/img/body-bg.png");
    background-position: left top;
    background-repeat: repeat-x;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-size: contain;

}

.s4-ca {
    font-size: 12px;
}

.Header {
    float: left;
    width: 100%;
}

.BodyContent {
    margin: 0 auto;
    width: 980px;
}

.noborder {
    border: 0 !important;
}

.bodywrap {
    border-top: 10px #086bbc solid;
}

.TopLinks {
    float: right;
}

.TopLinks a {
    color: #414141 !important;
    line-height: 10px;
    margin-top: 7px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #9b9c9d;
    font-size: 12px;
}

.TopLinks a:hover {
    color: #086BBC !important;
    text-decoration: underline;
}

.logo {
    float: left;
}

.home-icon span {
    font-size: 14px;
    line-height: 6px;
    color: #086bbc;
}

.home-icon span:hover {
    color: #46A0EA;

}

.TopNav {
    margin-top: 26px;
}

.TopNav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.TopNav ul li {
    /*float: left;
  padding-left: 9px;
   padding-right: 9px;*/
}

.TopNav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #015096;
    /* border-bottom: 2px solid #015096;*/
}

.TopNav ul li a:hover {
    text-decoration: none;
    font-size: 14px;
    color: #015096;
    /* border-bottom: 2px solid #015096;*/
}

.s4-tn li.static > .menu-item {
    padding: 4px 6px !important;
    height: auto !important;
}

.TopNav .menu-horizontal li.static .menu-item-text {
    font-size: 12px;
    font-weight: bold;
}

.TopNav .menu-horizontal li.static > a .menu-item-text {
    cursor: default;
}

.s4-toplinks .s4-tn a {
    margin: 0 !important;
    padding: 4px 6px !important;
}

.s4-toplinks {
    float: left;
}

.menu-horizontal li.static {
    border: 1px solid rgba(217, 217, 217, 0);
}

.menu-horizontal li.static.hover {
    background: #fff;
    border: 1px solid #D9D9D9;
    border-bottom: 0;
}

.s4-tn li.static > a:hover {

    text-decoration: none !important;
    color: #004B8E !important;
}

.TopNav .menu-horizontal li.static ul.dynamic .menu-item-text {
    display: block;
    padding: 0 !important;
    white-space: nowrap;
    font-weight: normal;
    color: #7F7F83;
    font-size: 12px !important;
    text-align: left;
}

.TopNav .menu-horizontal li.static ul.dynamic a:hover .menu-item-text {
    color: #075291;
}

.TopNav .menu-horizontal li.static ul.dynamic .menu-item-text {
    font-size: 12px;
    font-weight: normal;
}

.s4-tn ul.dynamic {
    top: 25px !important;
}

.s4-tn li.static > .menu-item {
    color: #666666 !important;
}

.s4-toplinks .s4-tn a.selected {
    border-color: 1px rgba(145, 205, 242, 0) solid !important;
    border-bottom-color: 1px rgba(145, 205, 242, 0) solid !important;
    border-top-color: 1px rgba(145, 205, 242, 0) solid !important;
    border: 1px rgba(145, 205, 242, 0) solid !important;
    background: none !important;
    color: #028ACF !important;
}

#s4-searcharea {
    padding: 0px !important;
    background: #fff;
    box-shadow: 0px 1px 6px rgba(76, 75, 75, 0.82) inset;
    width: 250px;
}

.s4-search table {
    width: auto !important;
    margin-right: 0 !important;
}

.s4-help {
    display: none !important;
}

.s4-search input.ms-sbplain {
    background: none !important;
    border: 0 !important;
    box-shadow: none !important;
    padding: 4px !important;
    height: auto !important;
    outline: 0;
    width: 225px !important;
}

.bodyContainer {
    background: #fff;
    padding: 6px;
    /* border: 1px solid #086BBC;*/
    border-bottom: 0;
    margin: 0 auto;
    margin-top: 0;
    width: 100%;
    float: left;
}

.footer {
    /* border: 1px solid #086BBC;*/
    border-top: 0;
    width: 980px;
    background: #fff;
    padding: 6px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 50px;
    float: left;
}

#amazingslider-1 .amazingslider-text-wrapper-0 {
    width: 328px !important;
    min-height: 141px !important;
    margin-top: 32px !important;
    margin-left: 32px !important;
}

#amazingslider-1 .amazingslider-text-bg-0 {
    background-color: rgba(0, 78, 142, 0.71) !important;
}

#amazingslider-1 .amazingslider-watermark-0 {
    display: none !important;
}

.homeboxes {
    width: 861px;
    margin: 0 auto;
    margin-top: -45px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.homeboxes > div {
    float: left;
    width: 184px;
    margin-right: 40px;
    background: #086bbc;
    overflow: hidden;
}

.homeboxes > div.Investment {
}

.homeboxes > div .content {
    height: 45px;
    padding: 10px;
}


.SALIC-Global {
    margin-right: 0px !important;
}

.homeboxes > div a {
    font-style: normal;
    text-decoration: none !important;
    color: #fff;
}

.homeboxes > div a:hover {
    text-decoration: none;
    color: #fff;

}

.thumb-title {
    font-style: normal;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;
}

.thumb-text {
    display: none;
    font-size: 12px;
    height: 50px;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    text-decoration: none;

}

.thumb-text-readmore {
    font-size: 12px;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    font-style: italic;
    font-weight: bold;
}

.homeboxes .thumb-img img {
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    width: 100%;
    height: 100%;

}

.homeboxes a:hover .thumb-img img {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
}

.thumb-img {
    height: 105px;
    width: 184px;
    overflow: hidden;
}

.homeNews-Proj {
    width: 900px;
    margin: 0 auto;
    margin-top: 47px;
}

.homeNews-Proj > div {

    float: left;
}

.homeNews-Proj > div.project {
    margin-left: 38px;
}

.homeNews-Proj > div .WebpartTitle {
    border-bottom: 3px solid #c2c2c2;
    color: #015096;
    font-size: 18px;
}

.homeNews-Proj ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*SiteMap-----bassel----12/4/2015=------*/

.SiteMap .menu.horizontal.menu-horizontal {
    position: relative;
    height: auto !important;
}

.SiteMap .menu-horizontal ul.static {
    height: auto !important;
    display: block !important;
    float: left;
    width: 100%;
}

.SiteMap .menu-horizontal li.static {
    width: 100%;
    float: left;
}

.SiteMap .menu-horizontal > ul.static > li.static > ul.static > li.static > a {
    width: 100%;
    color: #086BBC;
    float: left;
    font-size: 17px;
    margin-bottom: 5px;
}

.SiteMap .menu-horizontal > ul.static > li.static > ul.static > li.static ul li a:hover {
    text-decoration: underline;
}

.jobs-form .form-label {
    float: left;
    font-size: 13px;
    text-align: right;

}

.SiteMap .menu-horizontal > ul.static > li.static > ul.static > li.static ul li a {
    background-repeat: no-repeat;
    background-position: left center;
    background-image: url("../img/bullet-content-holder.gif");
    padding-left: 12px;
    color: #666666 !important;
}

.SiteMap .menu-horizontal > ul.static > li.static > ul.static > li.static {
    margin-bottom: 25px;
    height: 107px;
    margin-left: 0;
    border-bottom: 1px solid;
    margin-left: 20px;
}

.SiteMap .menu-horizontal li.static > ul.static li.static {

    width: 47% !important;
}

.SiteMap ul.root.static > li > a {
    display: none !important;
}

.SiteMap .menu-horizontal ul.static li.static ul.static li.static ul.static li.static {

    float: left;
    width: 100%;
}

/*SiteMap-----bassel----12/4/2015=------*/

.News li.dfwp-item a {
    font-style: normal;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
    text-decoration: none;
    border-bottom: dashed 1px #C2C2C2;
    min-width: 448px !important; /* height: 84px; *//* max-height: 100px; */
    z-index: 2;
    float: left;
    webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

a.NewsItem:hover {
    background: rgba(0, 78, 142, 0.17);
}

.News li.dfwp-item a .date {
    width: 50px;
    height: 57px;
    float: left;
    background: url('../img/news-date-bg.png') no-repeat center center;
    padding: 12px;
    line-height: 13px;
    padding-top: 22px;
    padding-left: 16px;
    font-size: 11px;
    font-weight: bold;
    color: #045290;
    margin-left: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ms-WPHeader {
    border-bottom: 2px solid #D1D1D1;
}

.ms-WPTitle, .ms-WPTitle a {
    color: #045290;
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.News {
    width: 448px;
    float: left;
}

.News li.dfwp-item a > div {
    position: relative;
    z-index: 2;
    /* width: 339px; */
}

.News li.dfwp-item a .title, .News li.dfwp-item a .description {
    font-style: normal;
    margin-left: 0;
    font-size: 15px;
    color: #0150B0;
}

.News li.dfwp-item a .description {
    font-size: 12px;
    color: #646464;
    margin-top: 2px;
    height: 47px;
    overflow: hidden;
    line-height: 15px;
    padding: 5px;
}

.News li.dfwp-item a .title {
    height: auto;
    line-height: 1;
    overflow: hidden;
    margin-top: 18px;
    padding: 5px;
}

.project li.dfwp-item {
    width: 125px;
    height: 72px;
    float: left;
    margin-right: 13px;
    margin-bottom: 13px;
    overflow: hidden;

}

.project ul.dfwp-column.dfwp-list {
    margin-top: 7px;
    margin-left: 1px;
    width: 402px !important;
}

/*.project  li.dfwp-item:nth-child(2), .project  li.dfwp-item:nth-child(4) {
    margin-right:00px;
}*/
.project li.dfwp-item > img {
    width: 100%;
    height: 100%;
}

.thumb-content {
    display: block;
    margin-top: -32px;
    padding: 7px;
    position: relative;
    background: #086BBC;
    color: #fff;
    -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
    text-decoration: none;
}

.moreproduct {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #045290 !important;
    text-decoration: underline !important;
    font-size: 12px;
    float: right;
}

.thumb-content:hover {
    color: #fff;
    text-decoration: none;
}

.page-title-text {
    font-size: 32px;
    color: #03508F;

}


.Protitle {
    color: #FFF;
}

.backgroundPage {
    display: none;

}

.pagetitle2 {
    display: none;
    width: 100%;
    min-height: 215px;
    margin-top: 0;

}


.backgroundPage .ms-WPBody img {
    width: 100px;
    height: 100px;

}

.Protitle {
    display: block;
    font-size: 15px;
    height: 25px;
    background: url('../img/thumb-arrow.png') 100% 11% no-repeat;
}

.project li.dfwp-item:nth-child(1) > div > span.Protitle {
    background: url('../img/Wheat.png') 89% 1px no-repeat;
    background-size: 32px;
}

.project li.dfwp-item:nth-child(2) > div > span.Protitle {
    background: url('../img/barley.png') 88% 11% no-repeat;
    background-size: 41px;
}

.project li.dfwp-item:nth-child(3) > div > span.Protitle {
    background: url('../img/corn.png') 97% -3px no-repeat;
    background-size: 43px;
}

.project li.dfwp-item:nth-child(4) > div > span.Protitle {
    background: url('../img/SoyaBean.png') 102% -13px no-repeat;
    background-size: 42px;
}

.project li.dfwp-item:nth-child(5) > div > span.Protitle {
    background: url('../img/rice.png') 100% -9px no-repeat;
    background-size: 38px;
}

.project li.dfwp-item:nth-child(6) > div > span.Protitle {
    background: url('../img/sugar.png') 100% 11% no-repeat;
    background-size: 34px;
}

.thumb-content > a {
    color: #fff;
    text-decoration: none;
}

.thumb-content > a:hover {
    color: #fff;
    text-decoration: none;

}

.project li.dfwp-item:nth-child(7) > div > span.Protitle {
    background: url('../img/Oil.png') 100% 11% no-repeat;
    background-size: 35px;
}

.project li.dfwp-item:nth-child(8) > div > span.Protitle {
    background: url('../img/Fedder.png') 100% -8px no-repeat;
    background-size: 35px;
}

.project li.dfwp-item:nth-child(9) > div > span.Protitle {
    background: url('../img/RedMeat.png') 100% -5px no-repeat;
    background-size: 39px;
}

.project li.dfwp-item:nth-child(1) > div > a span.Protitle {
    background: url('../img/Wheat.png') 89% 1px no-repeat;
    background-size: 32px;
}

.project li.dfwp-item:nth-child(2) > div > a span.Protitle {
    background: url('../img/barley.png') 88% 11% no-repeat;
    background-size: 41px;
}

.project li.dfwp-item:nth-child(3) > div > a span.Protitle {
    background: url('../img/corn.png') 97% -3px no-repeat;
    background-size: 43px;
}

.project li.dfwp-item:nth-child(4) > div > a span.Protitle {
    background: url('../img/SoyaBean.png') 108% -13px no-repeat;
    background-size: 42px;
}

.project li.dfwp-item:nth-child(5) > div > a span.Protitle {
    background: url('../img/rice.png') 100% -9px no-repeat;
    background-size: 38px;
}

.project li.dfwp-item:nth-child(6) > div > a span.Protitle {
    background: url('../img/sugar.png') 100% 11% no-repeat;
    background-size: 34px;
}

.project li.dfwp-item:nth-child(7) > div > a span.Protitle {
    background: url('../img/Oil.png') 100% 11% no-repeat;
    background-size: 35px;
}

.project li.dfwp-item:nth-child(8) > div > a span.Protitle {
    background: url('../img/Fedder.png') 100% -8px no-repeat;
    background-size: 35px;
}

.project li.dfwp-item:nth-child(9) > div > a span.Protitle {
    background: url('../img/RedMeat.png') 100% -5px no-repeat;
    background-size: 39px;
}


.project li.dfwp-item:hover div.thumb-content {
    margin-top: -74px;

}

.project li.dfwp-item .thumb-description {
    height: 76px;
    overflow: hidden;
    border-top: 1px solid #fff;
    line-height: 17px;
    padding-top: 5px;
    font-size: 12px;
}

.project li.dfwp-item:nth-child(1) div {
    background: #4C992D;
}

.project li.dfwp-item:nth-child(2) div {
    background: #009642;
}

.project li.dfwp-item:nth-child(3) div {
    background: #565912;
}

.project li.dfwp-item:nth-child(4) div {
    background: #a99b0d;
}

.project li.dfwp-item:nth-child(5) div {
    background: #00a5e1;
}

.project li.dfwp-item:nth-child(6) div {
    background: #009642;
}

.project li.dfwp-item:nth-child(7) div {
    background: #565912;
}

.project li.dfwp-item:nth-child(8) div {
    background: #a99b0d;
}

.project li.dfwp-item:nth-child(9) div {
    background: #565912;
}

.project li.dfwp-item:nth-child(1) div:hover {
    background: rgba(76, 153, 45, 0.75);
}

.project li.dfwp-item:nth-child(2) div:hover {
    background: rgba(0, 150, 66, 0.65);
}

.project li.dfwp-item:nth-child(3) div:hover {
    background: rgba(86, 89, 18, 0.71);
}

.project li.dfwp-item:nth-child(4) div:hover {
    background: rgba(169, 155, 13, 0.78);
}

.project li.dfwp-item:nth-child(5) div:hover {
    background: rgba(0, 165, 225, 0.81);
}

.project li.dfwp-item:nth-child(6) div:hover {
    background: rgba(0, 150, 66, 0.65);
}

.project li.dfwp-item:nth-child(7) div:hover {
    background: rgba(86, 89, 18, 0.71);
}

.project li.dfwp-item:nth-child(8) div:hover {
    background: rgba(169, 155, 13, 0.78);
}

.project li.dfwp-item:nth-child(9) div:hover {
    background: rgba(86, 89, 18, 0.71);
}

.project li.dfwp-item:nth-child(3) {
    margin-bottom: 0;
}

.project li.dfwp-item:nth-child(4) {
    margin-bottom: 0;
}


/* liScroll styles */

.tickeroverlay-left {
    background-image: url('../img/overlay-left.png');

    display: block;
    pointer-events: none;
    position: absolute;
    z-index: 30;
    height: 12px;
    width: 39px;
    top: 0;
    left: -2px;
}

.tickeroverlay-right {
    background-image: url('../img/right-overlay.png');
    display: block;
    pointer-events: none;
    position: absolute;
    z-index: 30;
    height: 12px;
    width: 39px;
    top: 0;
    right: -2px;
}

.tickercontainer { /* the outer div */
    position: absolute;
    background: #d1d1d1;
    display: none;
    width: 96%;
    height: 21px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;

}

.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    top: 4px;
    height: 18px;
    /*width: 718px;*/
    overflow: hidden;
}

ul.newsticker { /* that's your list */
    /*Transitions have been added in order set css3 transitions; and have linear easing. Changing these lines you might have unexpected results */
    -webkit-transition: all 0s linear;
    -moz-transition: all 0s linear;
    -o-transition: all 0s linear;
    transition: all 0s linear;
    position: relative;
    margin-left: 20px;
    font: bold 10px Verdana;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

ul.newsticker li {
    float: left; /* important: display inline gives incorrect results when you check for elem's width */
    margin: 0;
    padding-right: 15px;
    /*background: #fff;*/
}

ul.newsticker a {
    white-space: nowrap;
    padding: 0;
    color: #ff0000;
    font: bold 10px Verdana;
    margin: 0 50px 0 0;
}

ul.newsticker span {
    margin: 0 2px 0 0;
}

#webticker2 {
    float: right;
}

#webticker2 li {
    float: right; /* important: display inline gives incorrect results when you check for elem's width */
    margin: 0;
    padding-left: 15px;
    /*background: #fff;*/
}

.footerContainer {
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.stocktitle {
    z-index: 32;
    position: relative;
    display: none;
    float: left;
    width: 55px;
    height: 21px;
    background: #086BBC;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    text-align: center;
}

.footerContainer button {
    float: right;
    background: #d1d1d1;
    padding: 0;
    border: 0;
    padding-left: 5px;
    padding-right: 4px;
    height: 21px;
}

.footerContainer button:hover {
    background: #BABABA;
}

.play {
    display: none
}

.TopNav .top-links-search {
    position: absolute;
    right: 17px;
    margin-top: 38px;
    width: 284px;
    height: 0;
    padding: 0;
    border-radius: 10px;
    background-color: rgba(8, 107, 188, 0.52);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .7);
    overflow: hidden;
    z-index: 5;

}

.search-btn {
    float: right;
    width: 24px;
    height: 24px;
    background: url('../img/search-btn.png') center center no-repeat;
    cursor: pointer;
}

.searchOn {

    background: url('../img/x-search.png') center center no-repeat !important;
}

#txtsearchen {
    height: 26px;
    width: 252px;
    float: left;
    border: 0 !important;
    -webkit-box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    box-shadow: inset 0px 1px 3px 0px rgba(50, 50, 50, 0.75);
    background: #fff;
    color: #414141;
    padding: 6px;
}

.s4-search .srch-gosearchimg {

    height: 23px;
    padding: 0 !important;
    border: 0;
    background: none;
}

.searchboxen > a {
    display: inline-block;
    float: right;
    height: 23px !important;
    width: 11%;

    background: url('../img/searchresultui.png?rev=23') right center no-repeat;
    background-position: 26% 67%;
    position: relative;
    right: 6px;
    top: -22px;
}

.searchbox {
    display: none !important;
}

.footerlinks {
    float: left;
    width: 100%;
    margin-top: 8px;
    border-top: 2px #d1d1d1 solid;
    padding-bottom: 20px;
}

.copy {
    float: right;
    font-size: 12px;
    padding: 4px;
    padding-right: 0;
}

.links {
    float: left;
}

.links a:first-child {
    border-left: none !important;

}

.links a {
    color: #414141;
    line-height: 10px;
    margin-top: 7px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-left: 1px solid #9b9c9d;
    font-size: 12px;
}

span.percent {
    color: #414141;
}

span.type {
    color: #045290;
}

.s4-title-inner {
    height: auto;
    min-height: 0;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 15px;
    list-style: none;
    background-color: #e7e7e7;
    border-radius: 0;
    height: 25px;
}

.s4-title h1, .s4-title h2 {
    font-size: 12px;
}

.s4-title {
    padding: 0;
    margin: 0;
    min-height: 0;
}

.s4-titletext a {
    padding: 6px;
    padding-bottom: 0;
}

.s4-titletable {
    border: 0;
    height: 25px;
    background-color: #e7e7e7;
    overflow: hidden;
}

.s4-titletext {
    width: 100%;
    vertical-align: top;
    unicode-bidi: embed;
    display: block;
    height: 25px;
}

#onetidPageTitleSeparator > span > span > img {
    display: none;
}

#onetidPageTitleSeparator > span > span {
    height: 25px !important;
    width: 17px !important;
    background: url('../img/breadcrumbsep.png') center center no-repeat;
}

.s4-titlesep {
    vertical-align: middle;
    height: 29px;
    display: inline-flex;
}

.s4-title h1 a, .s4-title h2 a {
    color: #045190;
    display: inline-block;
}

.s4-title h1, .s4-title h2 {
    font-size: 11px;
}

.s4-title h2 {
    color: #6d6d6d;
    padding-left: 6px;
}

body #s4-mainarea {
    float: left;
    clear: both;
    padding: 36px;
    padding-top: 18px;
}

body #s4-leftpanel-content {
    padding: 0px 0px 5px;
    background-color: #fff;
    border: 0px solid #dbddde;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 233px;
}

body #s4-leftpanel {
    width: 233px;
    float: left;
    background-color: #f5f5f5;

}

.project li.dfwp-item:nth-child(3), .project li.dfwp-item:nth-child(6), .project li.dfwp-item:nth-child(9) {
    margin-right: 0px;
}

.project li.dfwp-item:nth-child(7), .project li.dfwp-item:nth-child(8), .project li.dfwp-item:nth-child(9) {
    margin-bottom: 0;
}

.s4-ca {
    background: #fff;
    margin-left: 244px;
    margin-right: 0;
    min-height: 324px;
}

.menu-vertical li a {
    padding-top: 4px;
    padding-bottom: 4px;
}

.s4-ql ul.root > li > .menu-item, .s4-qlheader, .s4-qlheader:visited {
    font-size: 1.2em;
    color: #6d6d6d;
    margin: 0;
    padding: 7px 4px 7px 10px;
    border-width: 1px 0;
    border-style: solid;
    border-color: transparent;
    word-wrap: break-word;
    overflow-x: hidden;
    border-bottom: #fff 2px solid;
    background: no-repeat 97% 50% #f5f5f5;
    text-decoration: none;
}

.menu-vertical li {

}

.ms-quickLaunch {
    padding: 0;
}

.s4-ql a.selected {
    border: 0 !important;
    border-bottom: #fff 2px solid !important;
    background: no-repeat 97% 50% #e5e5e5 !important;
    color: #014C8D !important;
}

.s4-ql ul > li > a:hover, .s4-ql ul.root > li > a:hover, .s4-qlheader:hover {
    text-decoration: none;
}

.s4-ql ul.root > li > .menu-item:hover {
    background: no-repeat 97% 50% rgba(8, 107, 188, 0.14);
}

.links a:hover {
    color: #086BBC !important;
    text-decoration: underline;
}

.BannerTitle {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    padding: 2px;

}

.BannerDes {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 2px;
    padding-top: 10px;


}

.center li.dfwp-item:hover div.thumb-content {
    margin-top: -112px;
}

.center li.dfwp-item:nth-child(2), .center li.dfwp-item:nth-child(4), .center li.dfwp-item:nth-child(6), .center li.dfwp-item:nth-child(8) {
    margin-right: 0px !important;
}

.center li.dfwp-item:nth-child(3), .center li.dfwp-item:nth-child(10) {
    margin-right: 20px !important;

}

/*.center li.dfwp-item:nth-child(3), .center li.dfwp-item:nth-child(9) {
margin-right: 10px;
}*/

.HeaderBanner span {
    font-size: 37px;
    color: #03508F;
    background: #fff;
    padding: 16px;
    display: block;
    margin-top: -68px;
    position: relative;
    z-index: 2;
    margin-left: 96px;
}

.amazingslider-img-0 img:hover {
    opacity: 0.9;
}

.HeaderBanner img {
    width: 100%;
    max-height: 300px;
    height: 100%;
}

.amazingslider-img-box-0 {
    background: #FFF;

}

.amazingslider-img-0 {
    background: #FFF !important;

}

.g3-v5 {
    left: 13% !important;

}

.amazingslider-nav-0 {
    margin-top: 10px !important;
    margin-right: 10px !important;
}

.News span.ms-rteThemeForeColor-5-5 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #045290 !important;
    text-decoration: underline;
    font-size: 12px;
}

.stockcontrol {
    z-index: 31;
    display: none;
    float: right;
    position: absolute;
    right: 0;
}


.s4-ql ul.root ul {
    margin: 0px 0px 0px 0px !important;
    padding-left: 0;
    float: left;
    width: 100%;

}

.menu-vertical li ul li:hover {
    background: #FFF;
    border-left: 3px solid #306DA3;

}

.cont {
    display: inline-block;
    float: right;
    margin-left: 22px;
    background: #FCFCFC;
    padding: 18px;
    border: 1px #DDD solid;
    margin-bottom: 17px;
}

.menu-vertical li ul {
    background: #FDFDFD;
    float: left;
}

.menu-vertical li ul li {
    border-left: 2px solid #306DA3;
    float: left;
    width: 100%;
    border-top: #F7F7F7 solid 1px;
    border-bottom: 1px solid #FFF;
    margin-bottom: 1px;
}


.menu-vertical li ul li > a {
    padding-left: 20px !important;
}

.jobs-form .submitBtn {
    background: #F3F3F3;
    border: none;
    padding: 4px 16px;
    border-radius: 6px;
    float: right;
    font-size: 15px;
    margin: 6px;
}

.jobs-form .submitBtn:hover {
    background: #E5DFDF
}

.header {
    float: left;
    width: 100%;
    font-size: 15px;
    margin: 15px 5px 30px 5px;
}

/***** sitemap css *****/

.sitemap-level1 > .level-section > .level-header {
    padding-left: 30px !important;
    background: url("../img/AccorArrowen.png") left center no-repeat !important;
    color: #FFF

}

.sitemap-level1 > .level-section > ul > .sitemap-level1 .level-header {
    background: url("../img/Blts.png") 0% 77% no-repeat !important;
    margin-left: 7px;
    line-height: 12px;
    padding-left: 14px !important;


}

.sitemap-level1 > .level-section > ul > .sitemap-level1 {
    padding-left: 18px !important;
    background: url("../img/sitemap-dashen.png") left top no-repeat !important;
    margin-right: 11%;
    margin-left: 8px;
}

.sitemap-level1 > .level-section > ul > .sitemap-level1 > .level-bullet {
    background: none !important;

}

div.sitemap-level2 {
    margin-left: 32px;
}

.level-bullet {
    border-style: none;
    border-color: inherit;
    border-width: 0;
    vertical-align: top;
    background-image: url("/_layouts/images/lstbulet.gif");
    background-repeat: no-repeat;
    background-position: 7px;
    padding-left: 0;
    padding-right: 0;
}

.level-header {
    padding: 2px 0px 2px 11px;
}

.headertitle.headermarker a, span.headertitle.headermarker {
    color: #086bbc !important;
}


.sitemap-level1 > .level-section > ul > .sitemap-level1 .level-header a {
    color: #676767 !important;
}

/*event-----------bassel-------------17/1=----*/

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.event-row {
    cursor: pointer;
    margin-top: 3px;
    background-repeat: no-repeat;
    background-position: 1% 50%;
    padding-left: 16px;
    padding: 5px;
    background-color: #ECECEC;
    padding-left: 38px;
    background-image: url('../img/event-icon.png');
    background-position: 2% 50%;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    padding-top: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.event-item {
    font-size: 13px;
    color: #00A347;
}

.event-row:hover {
    box-shadow: 0px 0px 5px #666;

}

.paging-nav .pg-slc {
    padding: 3px;
    text-align: center;
    background: #004D8F;
    color: #FFF !important;
}

.paging-nav {
    margin-top: 20px;
    float: left;
    text-align: center;
    width: 100%;
    float: left;
    text-align: center;
    width: 100%;

}

div.welcome {
    padding: 0 !important;
}

.event-row-odd {
    background-color: #F5F5F5 !important;
}

.paging-nav > span {
    color: #FFF;
    background: #00A347;
    padding: 3px;
}

.prev-page, .next-page {
    color: #939393 !important;

}

.event-row:hover {

    background-color: #F2F2F2 !important;
}

/*faqs-----bassel-------17/1*/


.event-view-title {
    color: #086BBC;
    font-size: 17px;
    float: left;
    width: 77%;
    margin-bottom: 10px;
}


.event-view-position-date > div > span:last-child {
    color: #676767;
}

.event-view-description {
    float: left;
    width: 100%;
    padding: 8px;
    border: 1px solid #DDD;
    border-radius: 13px;
    line-height: 1.5;
    text-align: justify;
}

.event-view-location > span:first-child {
    font-weight: bold;
    float: left;
    /* width: 19px; */
    width: 67px;
    color: #01A447;
}


.event-view-location > span:last-child {
    color: #676767;
}


.toggle-info {
    display: none;
}

.event-view-location {
    float: left;
    margin-bottom: 10px;
}

.toggle {
    background-image: url('../img/FAQp2.png');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    padding-bottom: 4px;
    cursor: pointer;
    padding-left: 22px;
}

.News ul.tab-title-cont {
    position: relative;
    z-index: 3;
}

.News .tab-div-cont {
    height: 360px;
    position: relative;
}

.News .tab-div-cont > div {
    position: absolute;
    width: 100%;
    margin-top: 37px;
}

.toggle-row:hover {


}

.toggle-row-odd {
    background-color: #FCFCFC !important;
}


.toggle-row h3 {
    margin: 0 !important;
    font-weight: normal;
    color: #03508F;
    padding-top: 2px;
}

.toggle-row {
    cursor: pointer;
    margin-top: 3px;
    background-repeat: no-repeat;
    background-position: 1% 50%;
    padding-left: 16px;
    padding: 9px;
    background-color: #F9F9F9;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.toggle-row:hover {
    box-shadow: 0px 0px 5px #666;
}

.open {
    background-image: url('../img/FAQm2.png') !important;
}


.toggle-info {
    margin-top: 20px;
    padding: 6px;
    background: #FFF;
}


table.products-tab > tbody > tr > td {
    border: 1px solid #CACACA;
    padding: 12px;
}

table.products-tab > tbody > tr > td:first-child {
    color: #086BBC;
    border: 1px solid #CACACA;
    padding: 14px;
    width: 20%;
    text-align: center;
}

table.products-tab > tbody > tr > th:first-child {
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
    border-top-right-radius: 0;

    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
}

table.products-tab > tbody > tr > th {
    background-color: #086BBC;
    color: #FFF;
    padding: 7px;
    text-align: center;
    border: 1px solid #FFFFFF;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;

}

/*midea center-hpo*/


.center .thumb-content {
    height: 100%;

}

.center li.dfwp-item {
    width: 314px !important;
    height: 112px;
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
    overflow: hidden;
    margin-top: 20px;
    margin-right: 20px;
}

.center li.dfwp-item:nth-child(2), .center li.dfwp-item:nth-child(4), .center li.dfwp-item:nth-child(6), .center li.dfwp-item:nth-child(8) {
    margin-right: 0;
}

.center > li > a > img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);

}

.center > li > a > img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 100%;
    height: 109px;
}


.ms-wpContentDivSpace {
    margin-left: 0px !important;

    margin-right: 0px !important;

}


li.dfwp-item.imagegalary-li {
    float: left;
    margin-left: 52px;
    border: 2px solid #014D8E;
    margin-bottom: 19px !important;
    margin: 26px;
    box-shadow: 0 0 5px #666;
}

li.dfwp-item.imagegalary-li:hover {
    border: 2px solid #00A2E4;

}

.imagegalary-li .image {
    width: 160px;
    height: 110px;


}

.imagegalary > div {
    padding: 0;
}

.contact-text {
    float: left;
    width: 55%;
    margin-right: 21px;
}


.map-zone {
    float: left;
    width: 38%;
    margin-top: 42px;
}


.vidimage {
    width: 160px;
}


.viditem {
    float: left;
    width: 160px;
}

.videoname {
    margin: 5px 0;
    text-align: center;
    float: left;
    width: 100%;
}


#html5-image {
    position: relative !important;

}

.bread-crumb-root {
    display: none;
}

.bread-crumb {

    padding: 0;
    margin-bottom: 15px;
    list-style: none;
    background-color: #e7e7e7;
    border-radius: 0;
    height: 27px;

    display: block;
    padding-right: 7px;
    padding-left: 7px;
}

.bread-crumb-sep {
    height: 27px !important;
    width: 17px !important;
    background: url('../img/breadcrumbsep.png') center center no-repeat;
    display: inline-block;

    line-height: 27px;
    color: transparent;
}

.bread-crumb-node {
    padding-left: 6px;
    padding-right: 6px;

    color: #04508F !important;
}

.bread-crumb-current {
    padding-left: 6px;
    padding-right: 6px;

}


.homeSlider {
    height: 424px;
}

.NewsItem {
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
    text-decoration: none;
    border-bottom: dashed 1px #C2C2C2;
    min-width: 651px;

    z-index: 2;
    float: left;
    webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    transition: all 0.35s ease;
}


.NewsItem img {
    width: 201px;
    height: 133px;
    /* box-shadow: 0px 0px 4px #000; */
    border: #A9AAAD 3px solid;
    padding: 1px;
    float: left;
}

#news-tab-1 .NewsItem img {
    float: unset !important;
}


.dateListing {
    position: relative !important;
    float: none;
    margin-left: 208px;
    margin-top: 5px;
    color: #045290;
}

.NewsItem .date {
    width: 50px;
    height: 57px;
    float: left;
    background: url('../img/news-date-bg.png') no-repeat center center;
    padding: 12px;
    line-height: 13px;
    padding-top: 23px;
    padding-left: 16px;
    font-size: 12px;
    font-weight: bold;
    color: #045290;
    margin-left: 3px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.NewsItem > div {
    position: absolute;
    z-index: 2;
}

.NewsItem .title, .NewsItem .description {
    font-style: normal;
    margin-left: 208px;
    font-size: 15px;
    color: #0150B0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative !important;
}

a.NewsItem {
    text-decoration: none !important;
}

.NewsItem .description {
    font-size: 12px;
    color: #646464;
    margin-top: 5px;
    height: 76px;
    overflow: hidden;
    line-height: 15px;
}

.NewsItem .title {
    height: auto;
    overflow: hidden;

}

.TopNav ul.root.static > li > a {
    display: none !important;
}

.s4-ql ul.root ul > li > a {
    line-height: 21px;
}

.ar {
    display: none;
}

.ms-searchref-categoryname {
    padding: 1px 3px 20px 11px !important;
}

.RSS, .Lnkin {
    float: right;
    margin-left: 3px;
}

.RSS:hover, .Lnkin:hover {
    box-shadow: 0px 0px 2px #000;
}

.RSS img, .Lnkin img {
    display: block;
    float: left;
}

.News li.dfwp-item a.NewsItem .news-image img {
    width: 80%;
    height: 190px;
    margin-left: 10%;
    margin-right: 10%;

    margin-bottom: 10px;
}

.s4-tn {
    padding: 0;
    margin: 0;
    float: left;
}

.ms-WPBody {
    font-size: 13px;
}

.map-zone {
    float: left;
    width: 41%;
    margin-top: 0px !important;
}

.article-content, .welcome-content {
    font-size: 13px;
    color: #646464;
    text-align: left;
}

.banner-test {
    background-image: url("/images/contact-us.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    float: left;
    height: 97px;
}

.pro-links-gin li.dfwp-item {
    width: 320px;

}

.pro-links-gin li.dfwp-item img {
    height: 109px;
    width: 100%;
}

/*bassel banner*/

.s4-tn ul.dynamic {
    z-index: 1111;
    min-width: 229px;
    left: -1px !important;
    display: none;
}

.opend-nav {
    display: block !important;
}

.menu-horizontal {
    border: 0 !important;
}


/*tabs news ----start---bassel-----10-3*/
ul.tab-title-cont {
    float: left;
    border-bottom: 3px solid #DDD;
    width: 100%;

}

ul.tab-title-cont > li.active {
    background: #155183;
}

ul.tab-title-cont > li {
    cursor: pointer;

    float: left;
    margin-right: 5px;
    font-size: 14px;
    padding: 5px;
    color: #FFF;
    background: #086BBC;
    text-align: center;
}

.tab-div-cont > div:first-child {
    display: block;
}

.tab-div-cont > div {
    display: none;
}

ul.tab-title-cont > li:first-child {
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
}

ul.tab-title-cont > li:last-child {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
}

/*tabs news ----end---bassel-----10-3*/


.menu.horizontal.menu-horizontal.en {
    display: none;
    border: 0 !important;
}

.Executive-cont {
    margin-top: 19px;
}

.Executive-cont > img {
    float: left;
    width: 132px;
    margin: 8px;
}

/*---bassel-Directors - BOARDOFDIRECTORS page--*/
.Directors, .Directors > img {
    float: left;
    width: 191px;
}

.Directors > img {
    display: none;
}

.Directors {
    height: 101px;
    margin: 10px;
}

.Directors-det {
    float: left;
    font-size: 14px;
    text-align: center;

}

.Directors-det > span:last-child {
    font-size: 13px;
    color: #7C7C7C;
}

.Directors-det > span {
    float: left;
    margin-top: 3px;
    width: 100%;
    color: #03508F;
}

/* Desktops and laptops ----------- */
@media only screen
and (max-width: 1000px) {
    .homeNews-Proj > div.project {
        margin-left: 0;
    }

    .BodyContent, .bodyContainer, .footer, .homeNews-Proj {
        max-width: 980px;
        width: auto;
    }

    .homeSlider {
        height: auto;
    }

    .tickercontainer {
    }

    .footer {
        float: none;
    }

    .bodyContainer {
        width: 100%;
        overflow: hidden;

    }

    #amazingslider-1 {
        width: 100% !important;
    }

    #amazingslider-1 .amazingslider-space-0 {
        width: 100% !important;

    }

    .HeaderContainer {
        max-width: 980px;
        width: 100%;
        float: left;
    }

    .NewsItem {
        min-width: 100%;;
        width: 100%;
    }

    .footer {
        float: none;
        min-width: 200px;
    }

    .footerContainer {
        width: auto;
    }

    .footerlinks {
    }

    .TopNav .top-links-search {


        margin-right: -8px;
    }

    .homeNews-Proj > div {
        width: 100%;
    }

    .homeNews-Proj > div.project {
        /* width: 314px; */
        float: left;
    }

    .News li.dfwp-item a {
        padding-top: 7px;
        padding-bottom: 7px;
        display: block;
        text-decoration: none;
        border-bottom: dashed 1px #C2C2C2;
        min-width: 100% !important;
        height: 84px;
        z-index: 2;
        float: left;
        webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease-in-out;
    }

    .News li.dfwp-item a:before {
        width: 100% !important;
    }

    li.dfwp-item:hover a.NewsItem:before {
        min-width: 100% !important;
        width: 100% !important;
    }

    .News li.dfwp-item a > div {
        width: auto;
    }

    .project ul.dfwp-column.dfwp-list {
        width: auto !important;

    }

    .project li.dfwp-item {
        width: 25%;
        padding-right: 2% !important;
        padding-left: 2% !important;
        margin: 0;
        margin-bottom: 20px !important;
        height: 112px;
    }

    .project li.dfwp-item:first-child {
        padding-left: 0%;
    }

    .project li.dfwp-item img {
        width: 100%;
        height: 112px;
    }

    #s4-ribbonrow {
        display: none !important;
    }

    .TopNav {
        margin-top: 7px;
    }

    .project li.dfwp-item:hover div.thumb-content {
        margin-top: -112px;
    }

}

@media only screen
and (max-width: 793px) {
    .homeNews-Proj > div.project {
        margin-left: 0;
    }

    .SiteMap .menu-horizontal li.static > ul.static li.static {
        width: 51% !important;
    }

    body #s4-bodyContainer {
        min-width: 100%;
    }

    #amazingslider-1 .amazingslider-text-wrapper-0 {
        width: 328px !important;
        min-height: 141px !important;
        margin-top: 13px !important;
        margin-left: 13px !important;
    }

    .homeboxes {
        width: 100%;
        margin-top: 6px;
    }

    .homeboxes > div {
        float: none;
        width: auto;
        margin-right: 0;
        margin-top: 6px;
    }

    .homeboxes > div.vision {
        margin-top: 0;
    }

    .homeboxes > div .content {
        height: 105px;
        padding: 10px;
        width: 61%;
        float: left;
    }

    .thumb-img {
        height: 105px;
        width: 184px;
        overflow: hidden;
        float: right;
    }

    .TopNav ul li {
        width: 100%;
    }

    span.glyphicon.Menu-Icon.glyphicon-tasks {
        color: #004D8E;
        font-size: 21px;
        margin-top: 7px;
        cursor: pointer;
        display: block;
        float: left;
        padding-bottom: 3px;
    }

    .menu.horizontal.menu-horizontal {
        position: absolute;
        height: 0;
        overflow: hidden;
        z-index: 5;
        display: block;
        left: 0;
        width: 100%;
        margin-top: 31px;
        background: #FFF;
        border: 0;
        -webkit-transition: all 0.35s ease;
        -moz-transition: all 0.35s ease;
        -o-transition: all 0.35s ease;
        transition: all 0.35s ease;


    }

    .s4-tn li.static > .menu-item {
        color: #666666 !important;
        border-bottom: 1px dashed #ccc;
        display: block;
        width: 100%;
        text-align: left;
    }

    .s4-tn li.static > a:hover {
        border-bottom: 1px dashed #ccc;


    }


    .s4-tn ul.dynamic {
        overflow: hidden;
        height: 0;
        z-index: 1100;
        position: relative;
        left: 0 !important;
        top: 0px !important;
        float: left;
        width: 100%;
        background: #E2E5E7;
        border: 0;
    }

    .menu-horizontal li.static {
        border: 0 !important;
    }

    .menu-horizontal li.static:hover {
        border: 0;
    }

    body #s4-leftpanel {
        display: none;
    }

    .s4-ca {
        margin: 0;
    }

    .logo {
        margin-top: 6px;
    }

    .links {
        float: none;
        text-align: center;
        overflow: hidden;
        max-width: 313px;
        margin: 0 auto;
    }

    .copy {
        float: none;
        font-size: 12px;
        padding: 4px;
        padding-right: 0;
        /* text-align: center; */
        margin: 0 auto;
        max-width: 281px;
    }

    body #s4-mainarea {
        float: left;
        clear: both;
        padding: 5px;
        padding-top: 5px;
    }

    .s4-tn {
    }

    .menu.horizontal.menu-horizontal.en {
        display: block;
    }

    .menu.horizontal.menu-horizontal.ar {
        display: none !important;
    }

    .menu.horizontal.menu-horizontal.en a {
        display: block !important;
        float: none !important;
        padding: 3px 0;
        border-bottom: 1px dotted gray;
    }

    .menu.horizontal.menu-horizontal.en li > ul.dynamic > li > a {
        border-bottom: 0;
        padding-left: 6px;
    }

    .menu.horizontal.menu-horizontal.en li > ul.dynamic {
        background: #DFDFDF;
    }

    .menu.horizontal.menu-horizontal.en ul.root.static > li > a {
        display: none !important;
    }

    .menu.horizontal.menu-horizontal.en ul.static {
        display: block;
        float: none;
        position: relative;
        top: -1px;
        padding: 6px;
    }

    .footer {
        float: left;
        width: 100%;
    }

}

@media only screen
and (max-width: 600px) {


    .center li.dfwp-item {
        width: 100% !important;

    }

    .News li.dfwp-item a .description {
        margin-right: 6px;
    }

    .SiteMap .menu-horizontal li.static > ul.static li.static {
        width: 51% !important;
    }

    .project li.dfwp-item {
        width: 33%;
    }
}


@media only screen
and (max-width: 503px) {
    .NewsItem .title, .NewsItem .description {
        margin-left: 160px;
    }

    .NewsItem img {
        width: 144px;
    }

    .dateListing {
        margin-left: 160px;

    }

    .NewsItem .title {
        height: 25px;
    }

    .NewsItem img {
        height: 92%;
    }

    .NewsItem .description {
    }

    .allnews-btn {
        width: 100%;
    }


    .BannerDes {
        padding-top: 3px !important;

    }

    #amazingslider-1 .amazingslider-text-wrapper-0 {
        width: 60% !important;
    }

    span.BannerTitle {
        font-size: 100% !important;
        font-weight: bold !important;

    }

    .BannerDes {
        font-size: 100% !important;

    }

    .amazingslider-title-0 {
        font-size: 101% !important;
    }

    .SiteMap .menu-horizontal li.static > ul.static li.static {
        width: 51% !important;
    }

    .homeboxes > div .content {
        width: 45%;
    }
}


@media only screen
and (max-width: 460px) {
    .SiteMap .menu-horizontal li.static > ul.static li.static {
        width: 51% !important;
    }

    .homeNews-Proj > div.project {
        margin-left: 0;
    }

    #amazingslider-1 .amazingslider-text-wrapper-0 {
        width: 50% !important;
        min-height: 118px !important;
        margin-top: 10px !important;
        margin-left: 0 !important;
        bottom: 0;
        max-height: 142px !important;
    }

    .project li.dfwp-item {
        width: 50%;
        padding-left: 2%;
        margin: 0;
        margin-top: 2%;
    }

    .project li.dfwp-item:nth-child(3) {
        padding-left: 0;
    }

    .logo > a {
        display: block;
        margin: 0 auto;
        max-width: 215px;

    }

    .logo > a.ar {
        display: none;
    }

    .TopLinks {
        float: none;
        max-width: 386px;
        margin: 0 auto;
    }
}

@media only screen
and (max-width: 398px) {
    .SiteMap .menu-horizontal li.static > ul.static li.static {
        width: 51% !important;
    }

    .amazingslider-text-wrapper-0 {
    }

    .thumb-img {

        width: 147px;
    }

    .links {
        max-width: 292px;
    }

    .links a {
        padding-left: 3px;
        padding-right: 3px;
    }
}

.menu span.dynamic, .menu a.dynamic {
    padding-top: 5px !important;
}

#amazingslider-1 {
    max-width: 966px !important;
}

@media only screen
and (max-width: 370px) {
    .SiteMap .menu-horizontal li.static > ul.static li.static {
        width: 51% !important;
    }

    .remove-mobile {
        display: none !important;
    }
}


.jobs-form {
    margin-top: 21px;


}

.captioned-image img {
    width: 100%;
}

.captioned-image {
    width: 50%;

}

.date-line {

    font-size: 16px;
    color: #03509D;
    font-weight: bold;
}

.article .article-header {
    border: none !important;
}

/* Added By Besher 13/6/2015 */
input[type="file"] {
    height: auto !important;
}

.article-content {
    margin-top: 40px;
}


.project li:last-child.dfwp-item {
    margin-right: 0px !important;
}

.project li.dfwp-item:nth-child(7), .project li.dfwp-item:nth-child(8), .project li.dfwp-item:nth-child(9) {
    margin-bottom: 13px !important;
}

.amazingslider-car-left-arrow-0 {
    display: none !important;

}

.amazingslider-car-right-arrow-0 {
    display: none !important;
}


.map-zone {
    width: 100%;
}

@media only screen and (max-width: 480px) {

    .logo {
        text-align: center !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin-top: 20px !important;
    }

    html[lang="en-us"] .logo {
        flex-direction: row-reverse !important;
    }

    html[lang="ar-sa"] .logo {
        flex-direction: row !important;
    }

    .logo > div:first-child {
        flex-grow: 1 !important;
        text-align: center !important;
        margin-top: 0 !important;
    }

    .logo > div:first-child img {
        width: 190px !important;
        height: auto !important;
    }

    #vision-logo-a img {
        width: 50px !important;
        height: auto !important;
    }

    .logo > div {
        float: none !important;
    }

    .TopLinks {
        margin-top: 10px !important;
    }

    .TopLinks a {
        font-size: 11px;
    }

    .map-zone {
        width: 100% !important;
    }

    .allnews-btn {
        display: none !important;
    }
}

@media only screen and (max-width: 480px) {
    html[lang="en-us"] .logo {
        flex-direction: row-reverse !important;
    }
}

